{% extends "base.html.twig" %}


{% block title %}
	{{posts.title}}
{% endblock %}

{% block body %}

	<div class="containter mx-auto">

		<h1>{{posts.title|capitalize}}</h1>

		<h2>publier le
			{{ posts.createdAt|date('d/m/Y')}}</h2>


		{% if posts.thumbnail %}

			<img src="{{ vich_uploader_asset(posts.thumbnail,'imageFile')}}" alt="{{posts.thumbnail.imageName}}">

		{% endif %}

		<div >
		{% include "components/_bages.html.twig" with {badges: 
		post.categories} only %}
		</div>

		<div>
			{{posts.content|raw}}
			<p>dernier mis a jour le
				{{posts.updateAt|date('d/m/Y')}}</p>
		</div>


	</div>


{% endblock %}

