{% extends "base.html.twig" %}


{% block title %}
	{{posts.title}}
{% endblock %}

{% block body %}

	<div class="containter mx-auto">

		<h1>{{posts.title|capitalize}}</h1>

		<h2>publier le
			{{ posts.createdAt|date('d/m/Y')}}</h2>


		{% if posts.thumbnail %}

			<img src="{{ vich_uploader_asset(posts.thumbnail,'imageFile')}}" alt="{{posts.thumbnail.imageName}}">

		{% endif %}

		<div>
			{% include "components/_badges.html.twig" with {badges: 
		posts.categories} only %}
		</div>

		<div>
			{{posts.content|raw}}
			<p>dernier mis a jour le
				{{posts.updateAt|date('d/m/Y')}}</p>
		</div>

		<div class="w-2/3 mx-auto my-8 leading-6">
			<ul class="flex flex-row justifify-start text-xs mt-8">
				<li>Etiquettes :&nbsp;</li>
					{% for tag in posts.tags %}
						<li>
							<a href="{{path('tags_index', {slug: tag.slug})}}">{{tag.name}}</a>
							{% if not loop.last %}

								<span>&nbsp;</span>
							{% endif %}
						</li>
					
				{% endfor %}
			</ul>

		</div>


	</div>


{% endblock %}

